/* PHASE 0: Sidebar */
.profile-picture {
  display: block;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: -100px;
  position: relative;
  overflow:   hidden;

}
.online {
  color: white;
  background: #0c0;
  position: absolute;
  text-transform: uppercase;
  box-shadow: 0 1px 0px 0px #070;
  letter-spacing: 3px;
  font-size: 12px;
  transform: rotate(-45deg);
  top: 20px;
  left: -50px;
  font-weight: 700;
  display: block;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.profile-info{
  /* padding-top: 10px; */
  margin: 20px 0;
}

.content-sidebar > h2 {
  font-size: 24px;
  font-weight: 700;
  display: block;
}

h2 {
  margin-block-start: 0.83em;
  display: block;
  margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.profile-nav{
  
}

.profile-nav > li {
  border-bottom: 1px solid darkgray;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}
.profile-nav > li:hover {
  background: lightgray;
  
}

.profile-nav > li:first-child {
  /* background: pink; */
  border-top: 1px solid darkgray;
}

.thumb {
  display: block;
  position: relative;
  width: 58px;
  height: 58px;
}

.thumb::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.profile-friends {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.profile-friends > li {
  padding-top: 10px;
  /* display:inline-block ; */
  /* flex: 4; */
  
}
.thumb > img {
  border-radius: 5px;
  border: 1px solid black;
}
.profile-friends > li:nth-child(3n - 1) {
  padding-right: 10px;
  padding-left: 10px;
}

